[submodule "GROUP1_Portfolios/U19CO1017"]
	path = GROUP1_Portfolios/U19CO1017
	url = https://github.com/TemiGraceO/grace_portfolio.git
[submodule "GROUP1_Portfolios/U19CO1077"]
	path = GROUP1_Portfolios/U19CO1077
	url = https://github.com/Teetechie75/portfolio.git
[submodule "GROUP1_Portfolios/U21CO2019"]
	path = GROUP1_Portfolios/U21CO2019
	url = https://github.com/femidare052-lab/U21CO2019-Portfolio-Website.git
